* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #222831 100%;
}

body {
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navbar-hr {
  position: relative;
  top: 130px;
  height: 0.2px;
  background: rgba(238, 238, 238, 0.2); /* Translucent white */
  z-index: 1000;
  opacity: 0.8;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 48px;
}

.navlogo {
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.navlinks ul {
  display: flex;
  list-style: none;
  gap: 48px;
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: regular;
}

.navlinks ul li a {
  cursor: pointer;
  color: #eeeeee;
  text-decoration: none;
}

.navlinks ul li a:hover {
  color: #00adb5;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
}

.hero-content {
  display: flex;
  flex-direction: row;
  width: 73%;
}

.hero-text-content {
  font-family: sans-serif;
  font-size: 96px;
  font-weight: bold;
  line-height: 96px;
  gap: 48px;
}

.hero-title {
  color: #eeeeee;
  height: 226px;
}

.hero-title span {
  color: #00adb5;
}

.hero-buttons {
  display: flex;
  gap: 24px;
  margin-top: 30px;
}

.hero-button1,
.hero-button2 {
  border: none;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 24px;
  height: 47px;
  color: #eeeeee;
}

.hero-button1:hover {
  background-color: #393e46;
}

.hero-button2:hover {
  background-color: #00adb5;
}

.hero-button1 {
  background-color: #00adb5;
  width: 136px;
}

.hero-button2 {
  background-color: #393e46;
  width: 223px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-button2 img {
  background: transparent;
}

.hero-image {
  display: flex;
  flex-direction: row-reverse;
}

.main-hero-img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay-image {
  position: relative;
  z-index: 1;
  background-color: transparent;
  align-items: center;
  left: 500px;
  bottom: -115px;
}

.vertical-line {
  position: fixed;
  top: 0;
  left: 35.3%;
  width: 0.2px;
  height: 100vh;
  background: rgba(238, 238, 238, 0.2); /* Translucent white */
  z-index: 1000;
}

.down-arrow {
  position: relative;
  left: 35.3%;
  bottom: 40px;
  transform: translateX(-50%);
  width: 150px;
  height: 96px;
  z-index: 1001;
}

.about {
  color: #eeeeee;
  margin-top: 2rem;
  width: 100%;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  margin-bottom: 0;
  margin-top: 5rem;
  gap: 50px;
}

.main-about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

.about-title {
  /* display: flex;
  flex-direction: row; */
  font-family: sans-serif;
  font-weight: bold;
  font-size: 64px;
}

.about-title2 {
  color: #00adb5;
}

.about-text {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: lighter;
  width: 389px;
  height: 189px;
}

.read-button {
  cursor: pointer;
  border: none;
  color: #00adb5;
  font-weight: bold;
  font-size: 18px;
}

.read-button:hover {
  color: #eeeeee;
}

.about-content-container {
  display: flex;
  flex-direction: column;
}

.about-title-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.light-bulb-img {
  margin-bottom: -7px;
}

.about-arrow-image {
  text-align: right;
  width: 70%;
  margin-top: 50px;
}

.music-icon {
  width: 100px;
  margin-left: 160px;
}

.main-about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-overlay-img {
  position: relative;
  top: -390px;
  right: -200px;
  z-index: 1;
  background-color: transparent;
  align-items: center;
}

.projects {
  /* margin-top: 10rem;
  /* margin-bottom: 10rem; */
  z-index: 1;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("image/project-background.png");
  background-position: center;
  min-height: 1000px;
  z-index: 1;
  background-repeat: repeat;
  gap: 48px;
}

.main-project-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: transparent;
  gap: 48px;
  margin-left: 0; /* or reduce to a smaller value */
  padding-left: 50px;
}

.project-main-title {
  display: flex;
  flex-direction: column;
  gap: 48px;
  background: transparent;
}

.project-title {
  color: #eeeeee;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 64px;
  background-color: transparent;
}

.project-title span {
  color: #00adb5;
  background-color: transparent;
}

.project-buttons {
  background-color: transparent;
}

.project-button1,
.project-button2,
.project-button3,
.project-button4 {
  padding: 32px, 10px;
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 24px;
  background-color: #393e46;
  border: none;
  width: 136px;
  height: 47px;
  gap: 10px;
}

.project-button1:hover,
.project-button2:hover,
.project-button3:hover,
.project-button4:hover {
  background-color: #222831;
}

.project-button1:active,
.project-button2:active,
.project-button3:active,
.project-button4:active {
  background-color: #00adb5;
}

.project-images {
  display: flex;
  background-color: transparent;
  gap: 48px;
}

.project-image1,
.project-image2,
.project-image3 {
  width: 368px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  background-color: rgba(30, 32, 36, 0.7); /* Darker translucent gray */
}

.project-image2 img,
.project-image3 img {
  background-color: transparent;
}

.contact {
  width: 90%;
  margin: 0 auto;
}

.contact-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-contact-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact-title {
  color: #eeeeee;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 64px;
}

.contact-title span {
  color: #00adb5;
}

.contact-images {
  display: flex;
  /* flex-direction: column-reverse;
  align-items: center; */
  gap: 48px;
  margin-top: 48px;
}

.keyboard-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem; /* This pushes the envelope image to the right */
  margin-right: auto; /* Adjust as needed */
  margin-bottom: 5rem;
}

.envelope-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto; /* This pushes the envelope image to the right */
  margin-right: 5rem; /* Adjust as needed */
  margin-top: 5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-form {
  width: 100%;
  max-width: 800px;
}

.contact-image1 {
  width: 100%;
  height: 100%;
}

.form-row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: #eeeeee;
  font-size: 18px;
  font-family: sans-serif;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 16px;
  background: #393e46;
  color: #eeeeee;
  font-size: 18px;
  font-family: sans-serif;
  margin-bottom: 0;
  outline: none;
}

textarea {
  min-height: 200px;
  resize: none;
}

.full-width {
  width: 100%;
  margin-bottom: 24px;
}

.contact-button {
  background-color: #00adb5;
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 999px;
  padding: 12px 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-button img {
  background: transparent;
}

.footer {
  width: 90%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 0 0 0;
  gap: 24px;
  margin: 3rem;
}

.footer-links-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 48px;
  width: 100%;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 48px;
  align-items: center;
}

.footer-links li a {
  display: flex;
  align-items: center;
  color: #eeeeee;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  gap: 10px;
  padding: 12px 0;
}

.footer-icons {
  display: flex;
  list-style: none;
  gap: 24px;
}

.footer-text {
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-align: right;
  padding: 24px 24px 24px 0; /* Remove left padding if present */
  width: 100%;
  margin-left: 0;
}

hr {
  border: none;
  height: 2px;
  background: rgba(238, 238, 238, 0.2); /* Translucent white */
  margin: 32px 0;
}

.project-active .vertical-line {
  display: none;
}

.projects .vertical-line {
  display: none;
}
